 *  {
     margin: 0%;
     padding: 0;
     box-sizing: border-box;
 }
 .body {
     background: darkslateblue;
 }
 .form {
     border: 1px solid white;
     width: 50%;
     margin: auto;
     margin-top: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center
     
 
 }